.ul
{
color:red;
text-align:center;
font-size:30px;
}

.sname
{
color:black;
text-align:center;
font-size:20px;
}

.intro
{
text-align:justify;
text-align:center;
font-size:20px;
}

.gary
{
color:black;
text-align:center;
font-size:28px;
}

.img
{
width:100%;
}

.imgtable
{
margin:auto;
}

.divleft
{
height:200px;
width:200px;
background-color:blue;
}